

  <div class="page-header">
    <h1>Authors <a href="/feeds"><small>Ruby 003</small></a></h1>
  </div>


<% @bloggers.each do |blogger| %>
<a href="/bloggers/<%=blogger.slug %>">
  <h3><%= blogger.name %></h3>
</a>
Semester: <span class="badge badge-inverse">  <%= blogger.semester %></span><br>
Posts: <span class="label label-info"><%= blogger.entries.count%></span>
<br>
<br>
<hr>

<% end %>




