
<div class="page-header">
  <h1>Authors <small>Ruby 003</small></h1>
</div>

<% @bloggers.each do |blogger| %>
<h2><%= blogger.name %></h2>
Semester: <span class="badge badge-inverse">  <%= blogger.semester %></span><br>
Posts: <span class="label label-info"><%= blogger.entries.count%></span>
<br>
<br>
<hr>

<% end %>




