<%= form_tag(sessions_path) do  %>
  Email: <%= text_field_tag :email %><br><br>
  Password: <%= password_field_tag :password %><br><br>
  <%= submit_tag "Login" %><br><br>
<% end %>

<a href="/register">Need an account?</a>
<br>
<br>
