
<% @entries.each do |entry| %>
  <a href="#"><h2><%= entry.title %></h2></a>
  <a href="#"><h4><%= entry.author_name %></h4></a>
  <hr>
  <%= entry.content.to_s.html_safe %>
  <hr>
  <br>

<% end %>
