<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Flatiron Weekly</title>
</head>
<body>
  <h3>Hi, <%= @subscriber.first_name %></h3>
  <h4>This week's issue of the Flatiron Magazine is here.</h4>
  <ul>
    <% @new_entries.each do |entry| %>
    <li><strong><%= entry.title %></strong> written by <%= entry.author_name %></li>
    <li>Read: www.magazine.flatironschool.com/<%= entry.slug %></li>
    <% end %> 
  </ul>
</body>
</html>

