Hi, <%= @subscriber.first_name %>

This weeks issue of the Flatiron Magazine is here.

In this weeks digest:
<% @new_entries.each do |entry| %>
<%= entry.title  %> written by <%= entry.author_name %>
Read:  <a href="#">www.magazine.flatironschool.com/<%= entry.slug %></a>
<% end %> 

