<%= render 'partials/watermarks' %>
<%= render 'admin_header' %>
<div class="full_content">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h2 style="color:#95a5a6">
        Browsing <small><%= @title_string %> Entries</small>
      </h2>
      <%= render 'entry_content.html.erb' %>
    </div>
  </div>
</div>