<%= render 'partials/watermarks' %>
<%= render 'admin_header' %>
<div class="full_content">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h2 style="color:#95a5a6">
        <%= @tag.display_word_or_word %> <small>posts</small>
      </h2><br />
      <%= render 'entry_content' %>
    </div>
  </div>
</div>
