
<div class="jumbotron" style="background-color:white">
  <h1 id="jumbo-title">Flatiron Magazine</h1>
  <p id="jumbo-body">Digest of all the blogs in the Flatiron Family</p>
  <p><a href="/feeds"class="btn btn-danger btn-lg" role="button"> <span class="glyphicon glyphicon-book"></span> Read</a></p>
</div>


