
<div class="jumbotron">
  <h1>Flatiron Magazine</h1>
  <p>Daily digest of all the blogs in the Flatiron Family</p>
  <p><a href="/feeds"class="btn btn-primary btn-lg" role="button">Read</a></p>
</div>