<div class="full-content">
  <div class="jumbotron" style="background-color:white">
    <h1 id="jumbo-title">Flatiron Magazine</h1>
    <p id="jumbo-body">Digest of all the blogs in the Flatiron Family</p>
  </div>
</div>

<div class="about-content jumbotron" style="display: none; background-color:white">
  <h1 id="jumbo-title">curated from current students and alumni.</h1>
  <p id="jumbo-body">“when you don't create things, you become defined by your tastes rather than ability. your tastes only narrow & exclude people. so create.” ― Why The Lucky Stiff</p>
</div>
