<%= form_tag("/tags/#{@tag.id}/update", method: "post") do %>
  <div>
    <label for="word">Edit tag name:</label>
    <input type="text" class="form-control" id="word" name="tag[display_word]" value="<%= @tag.display_word == nil ? @tag.word : @tag.display_word %>">
  </div>
  <input type="Submit">
<% end %>