
<style media="screen" type="text/css">
  .green_text {
      color: lime;
  }
  .red_text {
      color: red;
  }1
</style>

<div class="modal fade" id="tweet" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit Tweet Below</h4>
        <div class="modal-body" >
          <%= form_tag("/users/tweet", method: "post") do %>
            <hr>
              <textarea id="updated-tweet-data" rows="4" cols="70" name="tweet"class="form-group tweet_msg"></textarea><p id="count"><p>
              <div class="modal-footer">
              <button type="submit" id="tweet-submit" class="btn btn-success" data-dismiss="modal">Tweet</button>
              <button class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




