<div class="modal fade" id="tweet" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Edit Tweet Below</h4>
        <div class="modal-body" >
          <%= form_tag("/users/tweet", method: "post") do %>
            <div class="form-group tweet_msg"></div>
            <hr>
              <textarea rows="4" cols="70" name="tweet"class="form-group tweet_msg"></textarea>
              <div class="modal-footer">
              <button type="submit" class="btn btn-success" data-dismiss="modal">
                Send Tweet
              </button>
              <button class="btn btn-default" data-dismiss="modal">
                Close
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



