// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#large_side {
  position: fixed;
  top: 7%;
  left: 95%; 
  font-size: 200px;
  line-height: 200px;
  font-weight: 900;
  letter-spacing: -1px;
  color: #fafafa;
  z-index: -1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  transition-property: all;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
  transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
}

h1#large_icon {
  position: fixed;
  top: 7%;
  right: 83%; 
  font-size: 200px;
  line-height: 200px;
  font-weight: 900;
  letter-spacing: -30px;
  color: #fafafa;
  z-index: -1;
}
