<div id="push">
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit pull-right"><span class="glyphicon glyphicon-heart"></span> Made at the <a href="http://flatironschool.com/" target="_blank" id="school">Flatiron School</a> | 
    <a href="https://github.com/kyleshike" target="_blank">@kyleshike</a> | <a href="https://github.com/PHJ45" target="_blank"> @PHJ45</a> | <strong><a href="#login" data-toggle="modal">Login</a></strong></p>
  </div>
</div>


