<div id="push">
</div>
<div id="footer">
  <div class="container">
    <p class="muted credit pull-right">Made at the <a href="http://flatironschool.com/">Flatiron School</a> | 2013 <span class="glyphicon glyphicon-heart"></span></p>
    <address>
  </div>
</div>

