<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href=<%= logged_in? ? feeds_path : "#"%>>
      <strong>//Flatiron Magazine</strong></a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav pull-right">
        <li><a href="/feeds">Magazine</a></li>
        <% if logged_in? %>
        <li><a href="/bloggers">Authors</a></li>
        <li><a href="/users/dashboard">Dashboard</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-remove"></span></a></li>
        <% else %>
        <li><a href="/login"><span class="glyphicon glyphicon-off"></span> </a></li>
        <% end %>
    </ul>
  </div> 
</nav>

